/*************************** TAG SELECTORS ***************************/
body {
    background: url("https://cdn.pixabay.com/photo/2019/12/28/15/05/star-4724869_960_720.jpg") no-repeat fixed;
    background-size: cover;
}

h1 {
    color: #9be3de;
    font-size: 100px;
}

img:hover {
    background-color: #8cba51;
}

/*************************** CLASS SELECTORS ***************************/
.computer {
    background-color: #fddb3a;
    height: 250px;
    width: 250px;
}

.artEvil {
    background-color: #ff6f5e;
}

.circular {
    border-radius: 100%;
}

/*************************** ID SELECTORS ***************************/
#heading {
    color: gold;
}

/*#####################################keyframes################################### */
